.bl-content{
	margin-left: 180px;
	margin-top: 40px;
}
.bl-marginl{
	margin-left: -30px;
}
.bl-star{
	margin-left: 10px;
	padding-left: 20px;
	border-left: 1px solid #EAEAEA;
}
.bl-e{
	margin-top: 20px;
	border-top: 1px solid #E4E4E4;
}
.bl-way{
	margin-top: 20px;
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4; 
    background-color: #F1F1F1;
}
.bl-main{
	margin-top: 30px;
	margin-bottom: 20px;
}
.bl-w{
	width: 570px;
}
.dash{
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #DDDDDD;
}
.bl-b-s{
	margin-top: 10px;
	border-bottom: 1px solid #CCCCCC;
}